@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Remove scrollbar */
  .remove-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb:hover {
    /* background: #1e2238; */
    background: transparent;
  }
}

@layer components {
    /* phone */
    .phone-action-audio-btn {
        @apply absolute left-[-2px] w-[3px] rounded-tl-[4px] rounded-bl-[4px] z-10 bg-black;
    }

    .phone-power-btn {
        @apply absolute top-[180px] right-[-3px] w-[6px] h-[60px] rounded-tr-[4px] rounded-br-[4px] z-10 bg-black;
    }

    /* sections */
    .block_container {
      @apply mt-4 w-full grid grid-cols-4 gap-4 border shadow-sm py-4 px-2 rounded-lg;
    }

    .block-title {
        @apply mt-6
    }

    .block-mt {
        @apply mt-2;
    }

    .section-heading {
        @apply text-3xl font-medium;
    }
}
